
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Courgette&display=swap');


body{
  background: #fff;
}

main.first-main{
  z-index: -1;
  text-align: center;
  align-items: center;

}

div.hero-section{
  position: relative;
}

main div.main-div{
  z-index: 0;
  height:95vh;
  width: 100%;
  background-image: url(../img/bg.jpg);
  opacity: 80%;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  
}

div.main-im{
  display: flex;
  position: absolute;
  top: -1rem;
  width: 100%;;
  text-align: center;
  justify-content: center;
}

img.main-background-img{
  position: absolute;
  object-fit: cover;
  top:-130px;
  width: 100%;
  opacity: 0.45;
  overflow-x: hidden;
  overflow: hidden;
}


h1{
  display: inline;
  font-family: 'Poppins', sans-serif, cursive;
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
  color:#fff;
  text-shadow: 0 0 .5rem #0f1a29;
  width: 100%;
  text-wrap: wrap;
  animation: slideTop .6s ease;
  justify-content: center;
  align-items: center;
  margin-top: 16rem;
}

div.bottom-hero{
  position: absolute;
  top: 85dvh;
  background-color: #fff;
  width:86%;
  margin-left: 7%;
  box-shadow: 0 0 .5rem #33333363;
  height:fit-content;
  display: flex;
  justify-content: space-evenly;
  text-align:left;
  border-radius: 5px;
}

div.hero-bottom-1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  width: 30%;
  padding:1rem;
  margin: 1rem;;
  border-right: 1px solid #3333333d;
}

div#hero-bottom-a{
  border-right: none;
}

@media (width<=600px){
  h1{
    font-size: 1.25rem;
    margin-top: 25rem;
  }

  div.hero-bottom-1{
    font-size: .75rem;
    width:90%;
    border: none;
    border-bottom: 1px solid #3333333d;
  }

  div.bottom-hero{
    display: block;
    bottom:-350px;
  }
}


/* About section css */

:root{
  --section-bg: #fff;
  --sec-cl: #191223;
}

section.about-us{
  background-color: var(--section-bg);
  margin: 0;
  margin-top: 18%;
  width:86%;
  margin-left: 7%;
  display: flex;
  padding:0;
}

div.about-left{
  width:50%;
}

div.about-right{
  width:50%;
}

img.about-main-img{
  width: 100%;
}

h3.about-head{
  color:#777;
}

h2.about-headline-text{
  font-size: 2.25rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--sec-cl);
}

.about-left p{
  font-size: 1.25rem;
}

button.about-button{
  margin-top: 20px;
  background-color: var(--cl);
  width: 140px;
  height:40px;
  border-radius: 2px;
  text-align: center;
  align-content: center;
  border: none;
}

button.about-button span{
  color: var(--sec-cl);
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

/* responsive */
@media (width<=600px){
  section.about-us{
    margin-top: 100%;
    display: block;
  }

  div.about-left{
    width:100%;
  }
  
  div.about-right{
    width:100%;
  }
}

/* about section css end */
